/* Basic page styling */
body {
  font-family: 'Sono', sans-serif;
}

/* Main container for pricing plans, centered and evenly spaced */
.pricing-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 2rem;
}

/* Styling for individual pricing plans */
.pricing-plan {
  flex: 1;
  max-width: 400px;
  padding: 20px;
  background-color: #f2f2f2;
  border-radius: 5px;
  text-align: center;
}

/* Plan title styling */
.plan-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

/* Plan price styling */
.plan-price {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 10px;
}

/* Plan features list styling */
.plan-features {
  list-style: none;
  padding: 0;
  margin: 0;
}

.plan-features li {
  margin-bottom: 20px;
}

/* Button styling for each plan */
.plan-button {
  padding: 10px;
  background-color: #ff6600;
  color: #fff;
  border-radius: 5px;
  border: none;
}

/* Footer styling */
.footer {
  position: relative;
  bottom: 2vmin;
  width: 100%;
  text-align: center;
  font-size: medium;
  color: #3b1e54;
  background-color: #eeeeee;
  padding: 10px 0;
  border-top: 1px solid #d4bee4; /* Soft top border */
}

/* Footer text styling */
.footer p {
  margin: 5px 0;
  font-weight: bold;
}

/* Hyperlink styling */
.footer a {
  color: #9b7ebd;
  text-decoration: none;
  font-weight: bold;
  margin: 0 8px;
}

.footer a:hover {
  color: #3b1e54; /* Darker hover effect */
}

/* Responsive layout for smaller screens */
@media (max-width: 1250px) {
  .pricing-container {
    flex-direction: column;
    height: 100%;
  }
}
